* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

:root {
    --theme-background: #fff;
    --theme-text: #000;
    --theme-link: indigo;
    --theme-link-hover: crimson;
}

body {
    color: var(--theme-text);
    background-color: var(--theme-background);
}

a {
    text-decoration: none;
    color: var(--theme-link);
    transition: color 300ms;
}

a:hover {
    color: var(--theme-link-hover);
}

.header {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* #region GAME */

.main-game {
    display: flex;
    justify-content: center;
}

.game-board {
    display: flex;
    justify-content: center;
}


/* #region UI */

.ui {
    min-width: 200px;
}

.ui__title {
    margin-bottom: 0.5rem;
}

.ui__title.margin-top {
    margin-top: 1rem;
}

.ui-icon {
    width: 40px;
    height: 40px;
}

.life .ui-icon {
    fill: crimson;
}

.strength .ui-icon {
    fill: darksalmon;
}

.armor .ui-icon {
    fill: royalblue;
}

.apples .ui-icon {
    fill: crimson;
}

.keys .ui-icon {
    fill: gold;
}

.map .ui-icon {
    fill: orange;
}


/* #endregion UI */


/* #region GRID */

.grid {
    display: grid;
    gap: 2px;
    background-color: black;
    padding: 10px;
}

.grid__tile {
    position: relative;
    width: 64px;
    height: 64px;
    transition: opacity 150ms;
}

.grid__tile:hover {
    background-color: khaki !important;
}

.grid__enemy {
    background-color: red;
}

.grid__skeleton {
    background-image: url(../images/enemy-skeleton.png);
}

.forest .grid__empty {
    background-color: #b0d1a7;
}

.forest .grid__tree {
    background-color: #b0d1a7;
    background-image: url(../images/tree-forest.png);
}

.forest .grid__rock {
    background-color: #b0d1a7;
    background-image: url(../images/rock.png);
}

.desert .grid__empty {
    background-color: #d1c395;
}

.desert .grid__tree {
    background-color: #d1c395;
    background-image: url(../images/tree-desert.png);
}

.desert .grid__rock {
    background-color: #d1c395;
    background-image: url(../images/rock.png);
}

.snow .grid__empty {
    background-color: #ebebeb;
}

.snow .grid__tree {
    background-color: #ebebeb;
    background-image: url(../images/tree-snow.png);
}

.snow .grid__rock {
    background-color: #ebebeb;
    background-image: url(../images/rock.png);
}

.grid__apple {
    background-color: crimson;
}

.grid__key {
    background-color: gold;
}


/* #endregion GRID */


/* #region PLAYER */

.player {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.player__one {
    background-image: url(../images/player-spritesheet.png);
    background-position: 0 0;
}

.player__animation-up {
    animation-name: move-up;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.player__animation-down {
    animation-name: move-down;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

.player__animation-left {
    animation-name: move-left;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.player__animation-right {
    animation-name: move-right;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


/* #endregion PLAYER */


/* #region INVENTORY */

.ui {
    padding: 1rem;
}

.inventory__item {
    display: flex;
    align-items: center;
}

.inventory__item-title {
    font-size: 2rem;
    margin-right: 1rem;
}

.inventory__item-count {
    font-size: 1.8rem;
}

.inventory__item-single {
    font-size: 1.2rem;
}

.inventory__item.hidden {
    display: none;
}


/* #endregion INVENTORY */


/* #region TOOLTIP */

.tooltip {
    position: absolute;
    top: -100%;
    left: -200%;
    width: 500%;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 0.25rem;
    display: none;
    z-index: 1;
}

.grid__tile:hover .tooltip {
    display: block;
}


/* #endregion TOOLTIP */


/* #endregion GAME */