* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif; */
    font-family: 'IM Fell English SC', serif;
}

:root {
    --theme-background: #fff;
    --theme-text: #000;
    --theme-link: indigo;
    --theme-link-hover: crimson;
    /* GAME RELATED */
    --forest: #b0d1a7;
    --desert: #d1c395;
    --snow: #ebebeb;
    --floor: #444444;
}

body {
    color: var(--theme-text);
    background-color: var(--theme-background);
}

a {
    text-decoration: none;
    color: var(--theme-link);
    transition: color 300ms;
}

a:hover {
    color: var(--theme-link-hover);
}

.game {
    height: 100vh;
    display: flex;
    align-items: center;
}

.game>.biom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.game>.biom.biom-forest,
.game>.biom.biom-desert,
.game>.biom.biom-snow,
.game>.biom.biom-dungeon {
    opacity: 0;
    transition: opacity 1000ms;
}

.game.forest>img.biom-forest,
.game.desert>img.biom-desert,
.game.snow>img.biom-snow,
.game.dungeon>img.biom-dungeon {
    opacity: 1;
    transition: opacity 1000ms;
}

.main .game-title {
    color: white;
    text-shadow: 0 0 5px black;
}

.game.battle .game-title::after {
    content: " - BATTLE";
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main {
    margin: 0 auto;
    padding: 0 5vw;
    display: grid;
    grid-template-rows: 140px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.margin-top {
    margin-top: 1rem;
}

.golden-background {
    padding: 1rem;
    background-image: url(../images/paper-background.png);
    border: 4px double gold;
    border-radius: 0.25rem;
    width: 100%;
}

form>input,
form>button {
    color: #fff5e7;
    text-shadow: 1px 1px 3px black;
    box-shadow: 2px 2px 10px 0 black;
}

form>input.js-disabled,
form>button.js-disabled,
form>input.js-disabled:hover,
form>button.js-disabled:hover {
    filter: grayscale(80%) contrast(70%);
    box-shadow: 0 0 10px 0 black;
    cursor: default;
}

form>button {
    cursor: pointer;
    transition: filter 300ms, box-shadow 300ms;
}

form>button:hover {
    filter: contrast(150%);
    box-shadow: 5px 5px 15px 0 black;
}


/* #region MENU SCREENs */

.start-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/forest.jpg);
    background-size: cover;
    transition: opacity 800ms, visibility 800ms;
}

.start-screen.js-hidden {
    visibility: hidden;
    opacity: 0;
}

.start-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-title {
    color: white;
    margin-bottom: 2rem;
}

.start-title h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 5px black;
}

.start-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
}

.start-form__element {
    margin: 0.5rem 0;
    padding: 0.75rem;
}

.start-form__label {
    color: white;
    text-shadow: 2px 2px 5px black;
}

.start-form__label.js-invalid {
    color: yellow;
    font-weight: 700;
    text-shadow: 0 0 8px white;
}

.start-form__input::placeholder {
    color: white;
    text-shadow: 1px 1px 3px black;
}

.start-form__name {
    margin-bottom: 3rem;
}

.game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 800ms, visibility 800ms, transform 800ms;
}

.game-over-screen.js-hidden {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

.game-over-title {
    color: crimson;
    font-size: 5rem;
    text-shadow: 2px 2px 5px black;
}


/* #endregion MENU SCREENs */


/* #region GAME */

.main-game {
    display: grid;
    grid-template-columns: 180px auto 1fr;
    justify-items: start;
    gap: 1rem;
}

.game-board {
    display: flex;
    justify-content: center;
}


/* #region UI */


/* .ui {
    padding: 1rem;
} */

.ui__item {
    display: flex;
    align-items: center;
    margin-bottom: -1rem;
}

.ui__title {
    margin-bottom: 0.5rem;
}

.ui-icon {
    width: 64px;
    height: 64px;
    background-image: url(../images/collectables.png);
}

.ui-icon.location {
    fill: crimson;
}

.ui-icon.forest {
    fill: var(--forest);
}

.ui-icon.desert {
    fill: var(--desert);
}

.ui-icon.snow {
    fill: var(--snow);
}


/* #region INVENTORY */

.list__item {
    display: flex;
    align-items: center;
}

.list__item-icon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.list__item-count {
    font-size: 1.8rem;
}

.list__item-single {
    font-size: 1.2rem;
}

.list__item.hidden {
    display: none;
}


/* #endregion INVENTORY */


/* #endregion UI */


/* #region ZONE */

.zone {
    --edge-color: crimson;
    display: grid;
    gap: 2px;
    padding: 10px;
    border-width: 10px;
}

.zone.edge-up {
    padding-top: 0;
    border-top-style: solid;
    border-top-color: var(--edge-color);
}

.zone.edge-down {
    padding-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: var(--edge-color);
}

.zone.edge-right {
    padding-right: 0;
    border-right-style: solid;
    border-right-color: var(--edge-color);
}

.zone.edge-left {
    padding-left: 0;
    border-left-style: solid;
    border-left-color: var(--edge-color);
}

.zone.edge-up-right {
    padding-top: 0;
    border-top-style: solid;
    border-top-color: var(--edge-color);
    padding-right: 0;
    border-right-style: solid;
    border-right-color: var(--edge-color);
}

.zone.edge-up-left {
    padding-top: 0;
    border-top-style: solid;
    border-top-color: var(--edge-color);
    padding-left: 0;
    border-left-style: solid;
    border-left-color: var(--edge-color);
}

.zone.edge-down-right {
    padding-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: var(--edge-color);
    padding-right: 0;
    border-right-style: solid;
    border-right-color: var(--edge-color);
}

.zone.edge-down-left {
    padding-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: var(--edge-color);
    padding-left: 0;
    border-left-style: solid;
    border-left-color: var(--edge-color);
}


/* .forest .zone,
.desert .zone,
.snow .zone {
    background-image: url(../images/paper-background.png);
} */

.floor .zone {
    background-color: #15161a;
}

.zone__tile {
    position: relative;
    width: 100%;
    height: 100%;
    transition: opacity 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bioms.jpg);
    background-size: 300%;
}

.tile__object {
    width: 100%;
    height: 100%;
    position: absolute;
}

.zone__tile:hover {
    filter: contrast(140%);
    z-index: 20;
}

.forest .zone__tile {
    background-position: 0 0;
}

.desert .zone__tile {
    background-position: 0 -100%;
}

.snow .zone__tile {
    background-position: 0 -200%;
}

.floor .zone__tile {
    background-position: 0 -300%;
}

.forest .zone__rock {
    background-position: -100% 0;
}

.desert .zone__rock {
    background-position: -100% -100%;
}

.snow .zone__rock {
    background-position: -100% -200%;
}

.floor .zone__pillar {
    background-position: -100% -300%;
}

.forest .zone__tree {
    background-position: -200% 0;
}

.desert .zone__tree {
    background-position: -200% -100%;
}

.snow .zone__tree {
    background-position: -200% -200%;
}

.floor .zone__barrel {
    background-position: -200% -300%;
}

.item {
    width: 100%;
    height: 100%;
    background-image: url(../images/collectables.png);
    background-size: 700%;
}


/* #region AREAs */

.gate {
    position: relative;
}

.gate.dungeon {
    background-image: url(../images/dungeon-entrance-gate.png);
}

.gate.dungeon.locked {
    background-image: url(../images/dungeon-entrance-gate.png);
    background-size: 100%;
}


/* #endregion AREAs */


/* #endregion ZONE */


/* #region MINI MAP */

.mini-map {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.mini-map__title {
    margin-bottom: 0.5rem;
}

.mini-map__map {
    display: grid;
    margin-bottom: 0.25rem;
    border: 2px solid black;
}

.mini-map__tile {
    width: 100%;
}

.mini-map__tile.forest {
    background-color: var(--forest);
}

.mini-map__tile.desert {
    background-color: var(--desert);
}

.mini-map__tile.snow {
    background-color: var(--snow);
}

.mini-map__tile.floor {
    background-color: var(--floor);
}

.list__item-icon.legend {
    width: 40px;
    height: 40px;
    margin-bottom: 0.25rem;
}

.list__item-icon.forest {
    background-color: var(--forest);
}

.list__item-icon.desert {
    background-color: var(--desert);
}

.list__item-icon.snow {
    background-color: var(--snow);
}

.list__item-icon.dungeon {
    background-image: url(../images/dungeon-entrance-gate.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.list__item-icon.location,
.mini-map__tile.active.transparent {
    background-image: url(../images/player-spritesheet.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}

.mini-map__tile.active {
    background-color: crimson;
}

.mini-map__tile.dungeon {
    background-image: url(../images/dungeon-entrance-gate.png);
    background-size: 100%;
}

.mini-map__tile.fog-of-war.dungeon {
    background-image: none;
}

.mini-map__tile.forest.active.transparent {
    background-color: var(--forest);
}

.mini-map__tile.desert.active.transparent {
    background-color: var(--desert);
}

.mini-map__tile.snow.active.transparent {
    background-color: var(--snow);
}

.mini-map__tile.fog-of-war {
    background-color: black;
}

.zone-icon {
    width: 100%;
    height: 100%;
}

.zone-icon.location {
    fill: black;
}


/* #region MINI MAP LARGE */

.mini-map-enlarger.enlarged {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.mini-map-enlarger.enlarged .mini-map__text,
.mini-map-enlarger.enlarged .mini-map__title {
    display: none;
}

.mini-map__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mini-map__legends,
.mini-map__information {
    display: none;
}

.mini-map__information {
    width: 100%;
    padding: 1rem 0;
}

.mini-map-enlarger.enlarged .mini-map__information,
.mini-map-enlarger.enlarged .mini-map__legends {
    display: unset;
}

.mini-map-enlarger.enlarged .mini-map__map {
    margin-left: 1rem;
}


/* #endregion MINI MAP LARGE */


/* #endregion MINI MAP */


/* #region PLAYER */

.player {
    background-image: url(../images/player-spritesheet.png);
    background-position: 0 0;
    background-size: 100%;
    z-index: 10;
}


/* #endregion PLAYER */


/* #region ANIMATIONS */

.attacking {
    z-index: 20;
}

.animation {
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.animation-revert {
    animation-direction: reverse;
}

.animation-up {
    animation-name: move-up;
}

.animation-down {
    animation-name: move-down;
}

.animation-left {
    animation-name: move-left;
}

.animation-right {
    animation-name: move-right;
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


/* #endregion ANIMATIONS */


/* #region ENEMIES */

.enemy {
    background-size: 100%;
    background-position: 0 0;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.healthbar {
    position: absolute;
    top: 70%;
    width: 90%;
    height: 30%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 2px;
}

.healthbar .bar {
    height: 100%;
    background-color: red;
}

.healthbar .bar__text {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.6rem;
}


/* #endregion ENEMIES */


/* #region BATTLE QUEUE - CHARACTER CARD */

.battle-queue {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-card {
    padding: 0.5rem;
    margin-left: 0.5rem;
    right: 0;
}

.character-card.character-player {
    border: 4px double blueviolet;
}

.character-card.js-active {
    box-shadow: 0 0 10px 2px blue;
}

.character-card.js-left {
    position: absolute;
    transform: translate;
}

.character-card__title {
    font-size: 1rem;
}

.character-card__image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: 0 0;
}

.character-card__health {
    height: 0.75rem;
    padding: 2px;
    background-color: black;
}

.character-card__health-bar {
    height: 100%;
    background-color: red;
}


/* #endregion BATTLE QUEUE - CHARACTER CARD */


/* #region BATTLE ACTION POINTS */

.actions {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.actions.js-active {
    visibility: visible;
}

.actions__ap {
    display: flex;
    align-items: center;
}

.ap-title {
    color: white;
    text-shadow: 0 0 5px black;
    margin-right: 0.25rem;
}

.ap-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: 0 0;
    margin-right: 0.25rem;
}

.ap-point {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 4px double gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    background-image: url(../images/paper-background.png);
}

.ap-point .fill {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: green;
}

.ap-point.empty .fill {
    background-color: transparent;
}


/* #endregion BATTLE ACTION POINTS */


/* #region EFFECT */

.effect {
    position: absolute;
    opacity: 0;
    z-index: 29;
}

.effect.explosion {
    background-image: url(../images/explosion.png);
    background-size: contain;
    animation-name: explosion;
}

@keyframes explosion {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.effect.flash {
    background-image: url(../images/flash.png);
    background-size: contain;
    animation-name: flash;
}

@keyframes flash {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}


/* #endregion EFFECT */


/* #region TOOLTIP */

.tooltip {
    position: absolute;
    left: -200%;
    width: 500%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 0.25rem;
    display: none;
    z-index: 1;
}

.zone__tile:hover .tooltip {
    display: flex;
    filter: contrast(70%);
}

.tooltip .title {
    color: #126412;
}

.tooltip .item-list {
    list-style: none;
    padding-left: 1rem;
}

.tooltip .special-attack-info {
    padding-left: 1rem;
    color: #c01717;
}


/* #endregion TOOLTIP */


/* #endregion GAME */