* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

:root {
    --theme-background: #fff;
    --theme-text: #000;
    --theme-link: indigo;
    --theme-link-hover: crimson;
    /* GAME RELATED */
    --forest: #b0d1a7;
    --desert: #d1c395;
    --snow: #ebebeb;
}

body {
    color: var(--theme-text);
    background-color: var(--theme-background);
}

a {
    text-decoration: none;
    color: var(--theme-link);
    transition: color 300ms;
}

a:hover {
    color: var(--theme-link-hover);
}

.game {
    height: 100vh;
}

.game>.biom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.game>.biom.biom-forest,
.game>.biom.biom-desert,
.game>.biom.biom-snow {
    opacity: 0;
    transition: opacity 1000ms;
}

.game.forest>img.biom-forest,
.game.desert>img.biom-desert,
.game.snow>img.biom-snow {
    opacity: 1;
    transition: opacity 1000ms;
}

.game.battle .game-title::after {
    content: " - BATTLE";
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.margin-top {
    margin-top: 1rem;
}


/* #region GAME */

.main-game {
    display: grid;
    grid-template-columns: 170px 1fr auto;
    gap: 1rem;
}

.game-board {
    display: flex;
    justify-content: center;
}


/* #region UI */

.ui {
    min-width: 200px;
    padding: 1rem;
}

.ui__title {
    margin-bottom: 0.5rem;
}

.ui-icon {
    width: 40px;
    height: 40px;
}

.ui-icon.location {
    fill: crimson;
}

.ui-icon.forest {
    fill: var(--forest);
}

.ui-icon.desert {
    fill: var(--desert);
}

.ui-icon.snow {
    fill: var(--snow);
}

.ui-icon.life {
    fill: crimson;
}

.ui-icon.strength {
    fill: darksalmon;
}

.ui-icon.armor {
    fill: royalblue;
}

.ui-icon.coins {
    fill: green;
}

.ui-icon.keys {
    fill: gold;
}

.ui-icon.map {
    fill: orange;
}


/* #region INVENTORY */

.list__item {
    display: flex;
    align-items: center;
}

.list__item-icon {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.list__item-count {
    font-size: 1.8rem;
}

.list__item-single {
    font-size: 1.2rem;
}

.list__item.hidden {
    display: none;
}


/* #endregion INVENTORY */


/* #endregion UI */


/* #region ZONE */

.zone {
    display: grid;
    gap: 2px;
    background-color: black;
    padding: 10px;
}

.zone__tile {
    position: relative;
    width: 64px;
    height: 64px;
    transition: opacity 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile__object {
    width: 100%;
    height: 100%;
    position: absolute;
}

.zone__tile:hover {
    background-color: khaki !important;
}

.forest .zone__tile {
    background-color: var(--forest);
}

.desert .zone__tile {
    background-color: var(--desert);
}

.snow .zone__tile {
    background-color: var(--snow);
}

.forest .zone__tree {
    background-image: url(../images/tree-forest.png);
}

.desert .zone__tree {
    background-image: url(../images/tree-desert.png);
}

.snow .zone__tree {
    background-image: url(../images/tree-snow.png);
}

.forest .zone__rock {
    background-image: url(../images/rock.png);
}

.desert .zone__rock {
    background-image: url(../images/rock.png);
}

.snow .zone__rock {
    background-image: url(../images/rock.png);
}

.item {
    width: 48px;
    height: 48px;
    background-image: url(../images/items.png);
}


/* .apple {
    background-position: -480px -528px;
}

.key {
    background-position: -528px -144px;
}

.map {
    background-position: -432px -144px;
} */


/* #region AREAs */

.gate {
    position: relative;
}

.gate.dungeon {
    background-image: url(../images/dungeon-entrance.png);
}

.gate.dungeon.locked {
    background-image: url(../images/dungeon-entrance-gate.png);
    background-size: 100%;
}


/* #endregion AREAs */


/* #endregion ZONE */


/* #region MINI MAP */

.mini-map {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    background-image: url(../images/treasure-map.jpg);
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: center;
}

.mini-map__title {
    margin-bottom: 0.5rem;
}

.mini-map__map {
    display: grid;
    margin-bottom: 0.25rem;
    border: 2px solid black;
}

.mini-map__tile {
    width: 100%;
}

.mini-map__tile.forest {
    background-color: var(--forest);
}

.mini-map__tile.desert {
    background-color: var(--desert);
}

.mini-map__tile.snow {
    background-color: var(--snow);
}

.list__item-icon.legend {
    width: 40px;
    height: 40px;
    margin-bottom: 0.25rem;
}

.list__item-icon.forest {
    background-color: var(--forest);
}

.list__item-icon.desert {
    background-color: var(--desert);
}

.list__item-icon.snow {
    background-color: var(--snow);
}

.list__item-icon.dungeon {
    background-image: url(../images/dungeon-entrance.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.list__item-icon.location,
.mini-map__tile.active.transparent {
    background-image: url(../images/player-spritesheet.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}

.mini-map__tile.active {
    background-color: crimson;
}

.mini-map__tile.dungeon {
    background-image: url(../images/dungeon-entrance.png);
    background-size: 100%;
}

.mini-map__tile.fog-of-war.dungeon {
    background-image: none;
}

.mini-map__tile.forest.active.transparent {
    background-color: var(--forest);
}

.mini-map__tile.desert.active.transparent {
    background-color: var(--desert);
}

.mini-map__tile.snow.active.transparent {
    background-color: var(--snow);
}

.mini-map__tile.fog-of-war {
    background-color: black;
}

.zone-icon {
    width: 100%;
    height: 100%;
}

.zone-icon.location {
    fill: black;
}


/* #region MINI MAP LARGE */

.mini-map-enlarger.enlarged {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
}

.mini-map-enlarger.enlarged .mini-map__text,
.mini-map-enlarger.enlarged .mini-map__title {
    display: none;
}

.mini-map__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mini-map__legends,
.mini-map__information {
    display: none;
}

.mini-map__information {
    width: 100%;
    padding: 1rem 0;
}

.mini-map-enlarger.enlarged .mini-map__information,
.mini-map-enlarger.enlarged .mini-map__legends {
    display: unset;
}

.mini-map-enlarger.enlarged .mini-map__map {
    margin-left: 1rem;
}


/* #endregion MINI MAP LARGE */


/* #endregion MINI MAP */


/* #region PLAYER */

.player {
    background-image: url(../images/player-spritesheet.png);
    background-position: 0 0;
    z-index: 10;
}


/* #endregion PLAYER */


/* #region ANIMATIONS */

.animation {
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.animation-revert {
    animation-direction: reverse;
}

.animation-up {
    animation-name: move-up;
}

.animation-down {
    animation-name: move-down;
}

.animation-left {
    animation-name: move-left;
}

.animation-right {
    animation-name: move-right;
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


/* #endregion ANIMATIONS */


/* #region ENEMIES */

.enemy {
    background-position: 0 0;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.enemy.skeleton {
    background-image: url(../images/enemy-skeleton.png);
}

.enemy.orc {
    background-image: url(../images/enemy-orc.png);
}

.healthbar {
    position: absolute;
    top: 70%;
    width: 90%;
    height: 1rem;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 2px;
}

.healthbar .bar {
    height: 100%;
    background-color: red;
}

.healthbar .bar__text {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.6rem;
}


/* #endregion ENEMIES */


/* #region EFECT */

.effect {
    opacity: 0;
    z-index: 9;
}

.effect.explosion {
    background-image: url(../images/explosion.png);
    background-size: contain;
    animation-name: explosion;
}

@keyframes explosion {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}


/* #endregion EFECT */


/* #region TOOLTIP */

.tooltip {
    position: absolute;
    top: -100%;
    left: -200%;
    width: 500%;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 0.25rem;
    display: none;
    z-index: 1;
}

.zone__tile:hover .tooltip {
    display: block;
}


/* #endregion TOOLTIP */


/* #endregion GAME */